@model DogT.Models.Training

@{
    ViewData["Title"] = "DetailsTraining";
}

<h4>Опис тренування</h4>

<div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dog)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dog.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Specialization)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Specialization.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Context)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Context)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estimate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estimate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditTraining" asp-route-id="@Model.Id">Редагувати</a> |
    <a asp-action="Trainings">До списку тренувань</a>
</div>
