@model DogT.Models.Dog

@{
    ViewData["Title"] = "Опис службового собаки";
    Layout = "_DogHandler";
}

<div class="dog_details">
    @if (Model.Avatar == null)
    {
        <div class="dog_img">
            <i class="fas fa-dog empty_dog_img"></i>
        </div>
    }
    else
    {
        <div class="dog_img dog_img_set" 
             style="background-image: url(@Model.AvatarPath)">
        </div>
    }

    <div class="dog_info">
        <h4 class="dog_name">@Model.Name</h4>
        @if (Model.Age == 1)
        {
            <span class="dog_details_age">@Model.Age рік</span>
        }
        else if (Model.Age == 2 || Model.Age == 3)
        {
            <span class="dog_details_age">@Model.Age роки</span>
        }
        else
        {
            <span class="dog_details_age">@Model.Age років</span>
        }

        <span class="dog_details_specialization">@Model.Specialization.Title</span>
    </div>
</div>

<div class="dog_menu">
    <a asp-action="Dogs" class="dog">
        <div class="dog_img">
            <i class="fas fa-ellipsis-h empty_dog_img"></i>
        </div>
        <h6 class="dog_title">До списку собак</h6>
    </a>
    <a asp-action="AddTraining" class="dog">
        <div class="dog_img">
            <i class="fas fa-plus empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Додати тренування</h6>
    </a>
    <a asp-action="EditDog" asp-route-id="@Model.Id" class="dog">
        <div class="dog_img">
            <i class="fas fa-pencil-alt empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Редагувати</h6>
    </a>
    <a asp-action="ExcludeDog" asp-route-id="@Model.Id" class="dog">
        <div class="dog_img">
            <i class="fas fa-minus-circle empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Вилучити</h6>
    </a>
</div>

<div class="trainings">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="training_table_num">№</th>
                <th scope="col" class="training_table_date">Дата</th>
                <th scope="col" class="training_table_estimate">Результат</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Trainings.Count == 0)
            {
                <tr>
                    <td>Тренування відсутні</td>
                </tr>
            }
            else
            {
                
                var num = 1;
                
                foreach (var training in Model.Trainings)
                {
                    <tr>
                        <th scope="row">@num</th>
                        <td><a asp-action="DetailsTraining" asp-route-id="@training.Id">@training.Date</a></td>
                        <td>@training.Estimate</td>
                    </tr>
                    num++;
                }
            }
        </tbody>
    </table>
</div>
