@model DogT.ViewModels.TrainingViewModel

@{
    ViewData["Title"] = "DetailsTraining";
    Layout = "_DogHandler";
}

<div class="training_details">
    <div class="training_detail">
        <div class="dog_info">
            <h3 class="dog_name">@Model.Dog.Name</h3>
        </div>
    </div>
    <a asp-action="DetailsDog" asp-route-id="@Model.Dog.Id" class="dog">
        <div class="dog_img">
            <i class="fas fa-ellipsis-h empty_dog_img"></i>
        </div>
        <h6 class="dog_title">До списку тренувань</h6>
    </a>
    <div class="training_detail">
        <h5 class="training_detail_title">
            Дата
        </h5>
        <p>
            @Model.Date
        </p>
    </div>
    <div class="training_detail">
        <h5 class="training_detail_title">
            Зміст
        </h5>
        <p>
            @Model.Context
        </p>
    </div>
    <div class="training_detail">
        <h5 class="training_detail_title">
            Оцінка
        </h5>
        <p>
            @Model.Estimate
        </p>
    </div>
    <div class="training_detail">
        <video class="training_video" controls>
            <source src="@Model.FilePath" type="video/mp4" />
        </video>
    </div>

    <h3 class="comments_title">Коментарі до тренування: </h3>

    @foreach (var comment in Model.Comments)
    {
        <div class="comment">
            <div class="comment_author">
                <div class="dog_img">
                    <i class="fas fa-dog empty_dog_img"></i>
                </div>
                <div class="comment_author_name_and_date">
                    <h6 class="doghandler_title">@comment.DogHandler.Name @comment.DogHandler.Surname</h6>
                    <p class="comment_date">@comment.Date</p>
                </div>
            </div>
            <p class="comment_context">@comment.CommentContext</p>
        </div>
    }

    <form asp-action="LiveComment" asp-route-id="@Model.Id" class="comment_form">
        <div class="form-group">
            <textarea asp-for="CommentContext" class="form-control" rows="3"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" value="Коментувати" class="btn btn-primary" />
        </div>
    </form>

</div>
