@model DogT.Models.Dog

@{
    ViewData["Title"] = "Опис службового собаки";
    Layout = "_DogHandler";
}

<div class="dog_details">
    <div class="dog_img">
        <i class="fas fa-dog empty_dog_img"></i>
    </div>
    <div class="dog_info">
        <h4 class="dog_name">@Model.Name</h4>
        <span class="dog_details_age">@Model.Age</span>
        <span class="dog_details_specialization">@Model.Specialization.Title</span>
    </div>
</div>

<div class="dog_menu">
    <a asp-action="Dogs" class="dog">
        <div class="dog_img">
            <i class="fas fa-ellipsis-h empty_dog_img"></i>
        </div>
        <h6 class="dog_title">До списку собак</h6>
    </a>
    <a asp-action="AddTraining" class="dog">
        <div class="dog_img">
            <i class="fas fa-plus empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Додати тренування</h6>
    </a>
    <a asp-action="EditDog" asp-route-id="@Model.Id" class="dog">
        <div class="dog_img">
            <i class="fas fa-pencil-alt empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Редагувати</h6>
    </a>
    <a asp-action="ExcludeDog" asp-route-id="@Model.Id" class="dog">
        <div class="dog_img">
            <i class="fas fa-minus-circle empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Вилучити</h6>
    </a>
</div>
