@model IEnumerable<DogT.Models.Proposal>

@{
    ViewData["Title"] = "Пропозиції та зауваження";
    Layout = "_DogHandler";
}

<h3 class="page_title">Пропозиції та зауваження</h3>

<div class="dog_menu">
    <a asp-action="MakeProposal" class="dog">
        <div class="dog_img">
            <i class="fas fa-plus empty_dog_img"></i>
        </div>
        <h6 class="dog_title">Запропонувати/Зауважити</h6>
    </a>
</div>

<div class="trainings">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col" class="training_table_num">№</th>
                <th scope="col" class="training_table_date">Дата</th>
                <th scope="col" class="training_table_date">Кінолог</th>
                <th scope="col" class="training_table_date">Зміст</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Count() == 0)
            {
                <tr>
                    <td>Тренування відсутні</td>
                </tr>
            }
            else
            {

                var num = 1;

                foreach (var proposal in Model)
                {
                    <tr>
                        <th scope="row">@num</th>
                        <td><a asp-action="DetailsTraining" asp-route-id="@proposal.Id">@proposal.Date</a></td>
                        <td>@proposal.DogHandler.Name @proposal.DogHandler.Surname</td>
                        <td>@proposal.Context</td>
                    </tr>
                    num++;
                }
            }
        </tbody>
    </table>
</div>
