@model IEnumerable<DogT.Models.TrainingTask>

@{
    ViewData["Title"] = "Завдання";
}

<h3>Завдання</h3>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dog)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Context)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Dog.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Context)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsCompleted)
            </td>
            <td>
                @if (item.IsCompleted != true)
                {
                    <form asp-action="TaskCompleted" asp-route-id="@item.Id">
                        <input type="submit" value="Виконано" />
                    </form>
                }
                else
                {
                    <a asp-action="Delete" asp-route-id="@item.Id">В архів</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
